<ion-header [translucent]="true">
  <app-componente1 titulo="Página Inicio" [lista]="datosP"></app-componente1>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Nombre Persona" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <mat-spinner></mat-spinner>
  <ion-button color="success" [routerLink]="['/home']">Ir al Home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar {{ nombre }}</ion-button>
</ion-content>